@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap');

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  position: relative;
  animation: gradient 15s ease infinite;
  text-align: center;
  color:#fff;
  font-family: 'Exo 2', sans-serif;
}

* { margin: 0; 
    padding: 0;
    color:#fff; 
    text-decoration: none;
    box-sizing: border-box;
  }

.div-first {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;

}

#div-first {
  position: relative;
  padding-top: 45vh;
  align-content: center;
}

.cursor {
	border: 0.08em solid #000;
}

#head123 {
	display: none;
}

#head1234 {
	display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
